@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1d9bf0;
  --secondary: #7bcbf3;
  --background: #fff;
  --border: #e6ecf0;
  --border-secondary: #b9cad3;
  --shadow: #f7f9f9;
  --shadow-secondary: #f2f2f2;
  --shadow-tertiary: #d0d0d0;
  --text: #000;
  --text-secondary: #5b5b5b;
  --text-contained: #fff;
}

[data-theme-background='light'] {
  --background: #fff;
  --border: #e6ecf0;
  --border-secondary: #b9cad3;
  --shadow: #f7f9f9;
  --shadow-secondary: #f2f2f2;
  --shadow-tertiary: #d0d0d0;
  --text: #000;
  --text-secondary: #5b5b5b;
  --text-contained: #fff;
}

[data-theme-background='dark'] {
  --background: #15202b;
  --border: #2a3640;
  --border-secondary: #5c6e7e;
  --shadow: #2a3640;
  --shadow-secondary: #2d3741;
  --shadow-tertiary: #51606f;
  --text: #fff;
  --text-secondary: #8b98a5;
  --text-contained: #fff;
}

[data-theme-background='darker'] {
  --background: #000;
  --border: #1d1f21;
  --border-secondary: #3e4144;
  --shadow: #16181c;
  --shadow-secondary: #181818;
  --shadow-tertiary: #2c2c2c;
  --text: #fff;
  --text-secondary: #71767b;
  --text-contained: #fff;
}

[data-theme-color='blue'] {
  --primary: #1d9bf0;
  --secondary: #7bcbf3;
}

[data-theme-color='yellow'] {
  --primary: #ffd400;
  --secondary: #ffea80;
}

[data-theme-color='pink'] {
  --primary: #f91880;
  --secondary: #fc8cc0;
}

[data-theme-color='purple'] {
  --primary: #7856ff;
  --secondary: #bcabff;
}

[data-theme-color='orange'] {
  --primary: #ff7a00;
  --secondary: #ffbd80;
}

[data-theme-color='green'] {
  --primary: #00ba7c;
  --secondary: #80ddbe;
}

@font-face {
  font-family: 'Twitter Chirp';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/chirp-regular-web.woff);
}

@font-face {
  font-family: 'Twitter Chirp';
  font-style: medium;
  font-weight: 500;
  src: url(assets/fonts/chirp-medium-web.woff);
}

@font-face {
  font-family: 'Twitter Chirp';
  font-style: bold;
  font-weight: 700;
  src: url(assets/fonts/chirp-bold-web.woff);
}

@font-face {
  font-family: 'Twitter Chirp';
  font-style: black;
  font-weight: 900;
  src: url(assets/fonts/chirp-heavy-web.woff);
}

@layer base {
  html {
    font-family: Twitter Chirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
  }
  ::-moz-selection {
    color: white;
    background: var(--secondary);
  }

  ::selection {
    color: white;
    background: var(--secondary);
  }
  * {
    color: var(--text);
  }
}

@layer components {
  .checked {
    @apply bg-primary relative border-primary;
    @apply before:content-[''] before:absolute before:h-[20px] before:w-[20px];
    @apply before:bg-[url(assets/icons/check.svg)] before:bg-[length:60%] before:bg-no-repeat before:bg-[position:30%_40%];
  }

  .word-break {
    word-break: break-word;
  }
}
